{% extends 'base.html' %}

{% block title %}Manage ideas | BoardsApp{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-md-12">
      <form id="id_idea_form">
        {% csrf_token%}
        <input type="text" name="text"
            placeholder="Add a new idea">
      </form>
      {% for idea in ideas %}
        <ul>
          <li>
            <p> {{ idea.text }}
              <a class="btn btn-danger right-down" href="#">Delete</a>
              <a class="btn btn-success right-down" href="#">Edit</a>
            </p>
          </li>
        </ul>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/static/js/crud_ideas.js"></script>
  <script>
$(document).ready(function () {
  window.Boards.initialize({
    boardApiUrl: "{% url 'board-detail' board.id %}",
    ideasApiUrl: "{% url 'idea-list' %}",
    boardId: {{ board.id }},
    acceptedIdea: true,
  });
});
  </script>
{% endblock %}