{% extends 'base.html' %}

{% block title %}BoardsApp{% endblock %}

{% block container %}
  <div class="row">
    {% for board in public_boards %}
      <div class="col-md-5 text-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ board.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">( Board of user {{ board.owner }} )</h6>
            <ul>
              {% for idea in board.idea_set.all %}
                {% if idea.accepted %}
                  <li>{{ idea.text }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}