{% extends 'base.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/static/css/boards.css">
{% endblock %}

{% block title %}Manage Boards | BoardsApp{% endblock %}

{% block container %}
  <div class="row">
    {% for board in user_boards %}
      <div class="col-md-5 text-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ board.title }}</h5>
            <ul>
              {% for idea in board.idea_set.all %}
                {% if idea.accepted %}
                  <li>{{ idea.text }}</li>
                {% endif %}
              {% endfor %}
            </ul>
            <a class="btn btn-success right-down" href="{% url 'boards:crud_user_ideas' board.id %}">Manage Ideas</a>
          </div>
        </div>
      </div>
    {% endfor %}
    {% for board in public_boards %}
      <div class="col-md-5 text-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ board.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">( Board of user {{ board.owner }} )</h6>
            <ul>
              {% for idea in board.idea_set.all %}
                {% if idea.accepted %}
                  <li>{{ idea.text }}</li>
                {% endif %}
              {% endfor %}
            </ul>
            <a class="btn btn-success right-down" href="{% url 'boards:crud_user_ideas' board.id %}">Contribute Ideas</a>
          </div>
        </div>
      </div>
    {% endfor %}
    <div id="id_new_board_div" class="col-md-5">
        <a class="btn btn-success" href="{% url 'boards:create_board' %}">New board</a>
    </div>
  </div>
{% endblock %}