<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/base.css">
  {% block stylesheets %}
  {% endblock %}
</head>
<body>

<div class="jumbotron text-center">
  <h1>Boards App</h1>
  <p>Administrate your board here!</p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'home' %}">BoardsApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" 
            id="id_logout_link"
            href="{% url 'accounts:logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
            href="{% url 'boards:boards' %}">Boards</a>
        </li>
      {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
            data-toggle="dropdown" 
            href="#" role="button" aria-haspopup="true" 
            aria-expanded="false" id="id_account_link">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="Preview">
            <a class="dropdown-item"
                id="id_login_link"
                href="{% url 'accounts:login' %}">Login</a>
            <a class="dropdown-item" 
                id="id_signup_link"
                href="{% url 'accounts:signup' %}">Signup</a>
          </div>
        </li>
      {% endif %}
      
    </ul>
  </div>  
</nav>

<div class="container">
  <div class="row">
    <div id="messages" class="col-md-12">
      {% for message in messages%}
        {% if message.level_tag == 'success' %}
          <div class="alert alert-success">
            {{ message }}
          </div>
        {% else %}
          <div class="alert alert-warning">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  {% block container %}
  {% endblock %}
</div>

<div id="footer" class="text-center">
  <p>Copyright BoardsApp - All rights reserved </p>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>
